#wait {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url("../images/pIkfp.gif") 50% 50% no-repeat;
}
#wait2 {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url("../images/pIkfp.gif") 50% 50% no-repeat;
}
.fc-content > .fc-title
{
    color:#ffffff !important;
}
.margin_left
{
    margin-right: 1em;
}
#calendar
{
    background: #ffffff;
}
.btn-info
{
    color: #ffffff !important;
}


.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill: #e5e5e5 !important;
}



.bg-top
{
    padding-top: 2em;
    background: #ffffff;
}

a
{
    text-decoration: none !important;
}

.project_name
{
    top: 6em;
    z-index: 1000;
    position: absolute;
    left: 27%;
    word-break: break-all;
    text-align: center;
    padding-right: 1em;
    color:#283057;
}

.sidebar
{
    background: #283057;
}
.sidebar .nav-link.active
{
    background: #1A2347 !important;
}

h2,h4
{
    color:#283057 ;
}


.btn-register, .btn-info, .btn-success,.btn-danger
{
    border-radius: 25px;
}
td>a
{
    color: #40AAB2 !important; ;
}
.btn-round,.btn-danger,.btn-success
{
    color: #ffffff !important;
}
.sorting,.sorting_asc,.sorting_disabled,.sorting_desc
{
    background: #283057 !important;
    color: #ffffff;
}
label input
{
    border-radius: 25px;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #FA7268 !important;
}
.btn-info
{
    background: #6AC3CC !important;
}
.current
{
    border-radius: 25px;
    background: none !important;
    border:1px solid #94DBDF !important;
}

.fc-day-grid-event
{
    border-color: #ffffff;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: left !important;
}
.text-danger
{
    color: #5cade5 !important;
}
th
{
    color: #283057;
}
.btn_center
{
    margin-left: 2em;
}

.active
{
    color:#6ac3cc !important;
}
.card-title
{
    margin-bottom: 0 !important;
}
.fc-button-primary:disabled {
    color: #fff;
    background-color: #6ac3cc !important;
    border-color: #6ac3cc !important;
}
.fc-day-header
{
    background: #283057 !important;
    color: #ffffff !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.fc-button-primary {
    color: #eee !important;
    background-color: #fff !important;
    border-color: #eee !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 5px !important;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active
{
    color: #fff;
    background-color: #6ac3cc !important;
    border-color: #6ac3cc !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(168, 168, 168, 0.05) !important;
}

.custom_done
{
    border: 2px solid #20a8d8;
    background: url(../images/success.png);
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    color: #333;
    border-radius: 25px;
}